﻿/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Lato", sans-serif;
    color: #8f9cb5;
}

a {
    color: #35a785;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
}

/*Step 5: Hover Styles*/
.cd-btn:hover {
    background: #35a785;
    background: -webkit-linear-gradient(top, #35a785, #2f5f63);
    background: -moz-linear-gradient(top, #35a785, #2f5f63);
    background: -o-linear-gradient(top, #35a785, #2f5f63);
    background: -ms-linear-gradient(top, #35a785, #2f5f63);
    background: linear-gradient(top, #35a785, #2f5f63);
}

.cd-btn {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    line-height: 25px;
    color: #FFF;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1em;
    background: #35a785;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

    .cd-popup.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .cd-popup-container p {
        padding: 3em 1em;
    }

    .cd-popup-container .cd-buttons:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-popup-container .cd-buttons li {
        float: left;
        width: 100%;
    }

    .cd-popup-container .cd-buttons a {
        display: block;
        height: 60px;
        cursor: pointer;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFF;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

    .cd-popup-container .cd-buttons li:first-child a {
        background: #fc7169;
        border-radius: 0 0 0 .25em;
    }

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

    .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
        content: '';
        position: absolute;
        top: 12px;
        width: 14px;
        height: 3px;
        background-color: #8f9cb5;
    }

    .cd-popup-container .cd-popup-close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 8px;
    }

    .cd-popup-container .cd-popup-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 8px;
    }

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}

.uploaded-img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

/*Flip button*/

.btn-front, .btn-front2 {
    display: inline;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    line-height: 2em;
    color: #fff;
    cursor: pointer;
}

.btn-front {
    background-color: #F44336;
}

.btn-front2 {
    background-color: #2196F3;
}

.btn-front:hover {
    background-color: #f77066;
}

.btn-front2:hover {
    background-color: #8f9cb5;
}

#loadingDiv img {
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-left: -50px; /* negative half of the width */
    margin-top: -50px; /* negative half of the height */
    width: 100px;
    height: 100px;
    position: absolute;    
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
