﻿@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    background: #fff;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.container > header {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 2.875em 1.875em 1.875em;
}

    .container > header h1 {
        font-size: 2.125em;
        line-height: 1.3;
        margin: 0 0 0.6em 0;
        float: left;
        font-weight: 400;
    }

    .container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #47a3da;
	background: #fff;
}

    .container > header nav {
        float: right;
        text-align: center;
    }

a {
    color: #f0f0f0;
    text-decoration: none;
}

.container > header nav a {
    display: inline-block;
    position: relative;
    text-align: left;
    height: 2.5em;
    background: #47a3da;
    border-radius: 1em;
    margin: 0 0.1em;
    border: 3px solid #000;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

    .container > header nav a > span {
        display: none;
    }

.cbp-mc-form {
    position: relative;
}

    /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .cbp-mc-form:before,
    .cbp-mc-form:after {
        content: " ";
        display: table;
    }

    .cbp-mc-form:after {
        clear: both;
    }

.cbp-mc-column {
    width: 50%;
    padding: 10px 30px;
    float: left;
}

.cbp-mc-fullcolumn {
    width: 100%;
    padding: 10px 30px;
    float: left;
}

    .cbp-mc-column > img {
        max-width: 100%;
    }

.cbp-mc-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.cbp-mc-form input:not([type=button]),
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    /*color: #fff;*/
    display: block;
    width: 100%;
    background: transparent;
}

.cbp-mc-form input.txtDt{
    display: inline-block;
    width: 48.5%;
}

.cbp-mc-form input.inputAns{
    display: inline-block;
    width: 90%;
    margin-top: 0.5em;
}

.cbp-mc-form input.inputDefaultAns{
    display: inline-block;
    margin-top: 0.5em;
}

.cbp-mc-fullcolumn a.btnClick,
.cbp-mc-fullcolumn a.btnClickRemove
{
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

.cbp-mc-form input:not([type=button]),
.cbp-mc-form textarea,
.cbp-mc-form select {
    border: 3px solid #000;
}

    .cbp-mc-form input[disabled="disabled"],
    .cbp-mc-form textarea[disabled="disabled"] {
        background: #dddddd;
    }

.cbp-mc-form textarea {
    min-height: 200px;
}

    .cbp-mc-form input:focus,
    .cbp-mc-form textarea:focus,
    .cbp-mc-form label:active + input,
    .cbp-mc-form label:active + textarea {
        outline: none;
        border: 3px solid #10689a;
    }

.cbp-mc-form select:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

    .cbp-mc-form input.cbp-mc-submit:hover {
        background: #1478b1;
    }

@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
        .cbp-mc-column:nth-child(3) {
            width: 100%;
        }
}

@media screen and (max-width: 48em) {
    .cbp-mc-column, .cbp-mc-fullcolumn, .cbp-mc-form input.txtDt {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 55em) {

    .container > header h1,
    .container > header nav {
        float: none;
    }

    .container > header > span,
    .container > header h1 {
        text-align: center;
    }

    .container > header nav {
        margin: 0 auto;
    }

    .container > header > span {
        text-indent: 30px;
    }
}

hr {
    border: 0;
    width: 98%;
    color: #000;
    background-color: #000;
    height: 5px;
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup, .cd-popup2 {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup ol, ul {
    list-style: none;
}

.cd-popup2 ol, ul{
    list-style: none;
}

.cd-popup ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.cd-popup2 ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

    .cd-popup.is-visible, .cd-popup2.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    /*background: #FFF;*/ /*Bg color*/
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .cd-popup-container p {
        padding: 3em 1em;
        /*color*/
    }

    .cd-popup-container .cd-buttons:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-popup-container .cd-buttons li {
        float: left;
        /*width: 100%;*/
    }

    .cd-popup-container .cd-buttons a {
        display: block;
        height: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFF;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

    .cd-popup-container .cd-buttons li:first-child a {
        background: #fc7169;
        border-radius: 0 0 0 .25em;
    }

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

    .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
        content: '';
        position: absolute;
        top: 12px;
        width: 14px;
        height: 3px;
        background-color: #8f9cb5;
    }

    .cd-popup-container .cd-popup-close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 8px;
    }

    .cd-popup-container .cd-popup-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 8px;
    }

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}

.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

#loadingDiv img {
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-left: -50px; /* negative half of the width */
    margin-top: -50px; /* negative half of the height */
    width: 100px;
    height: 100px;
    position: absolute;    
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}