﻿@import url(//fonts.googleapis.com/css?family=Roboto+Slab);
@import url(//fonts.googleapis.com/earlyaccess/notosanstamil.css);

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Roboto Slab", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", 'Noto Sans Tamil', 'Noto Sans Tamil', sans-serif, serif;
    color: #8f9cb5;
}

a {
    color: #35a785;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
}

/*Step 5: Hover Styles*/
.cd-btn:hover {
    background: #35a785;
    background: -webkit-linear-gradient(top, #35a785, #2f5f63);
    background: -moz-linear-gradient(top, #35a785, #2f5f63);
    background: -o-linear-gradient(top, #35a785, #2f5f63);
    background: -ms-linear-gradient(top, #35a785, #2f5f63);
    background: linear-gradient(top, #35a785, #2f5f63);
}

.cd-btn {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    line-height: 25px;
    color: #FFF;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1em;
    background: #35a785;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}