﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Astro Interactive</title>
</head>
<body>
    <form id="frmMain" runat="server">
    <div>
        Astro Interactive Home :)
    </div>
    </form>
</body>
</html>
